@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
}

.h1-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.label-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.input-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.text-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 400;
}
